.about {
    padding: 90px 0;

    background: var(--f-color);
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;

        max-width: 555px;
    }
    &__img {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}