// Переиспользуемые блоки
.social {
    flex: 1 3 37em;

    display: flex;
    align-items: center;
    &__item {
        margin-right: 30px;
        &:last-child {
            font-weight: 400;
            font-size: 24px;
            line-height: 1;
            a {
                text-decoration: none;

                color: var(--s-color);
            }
        }
    }
}


// Заголовки
.title {
    line-height: 1;

    color: var(--s-color);
    &_fz100 {
        font-weight: 700;
        font-size: 100px;
        line-height: 1.3;
    }
    &_fz76 {
        font-weight: 700;
        font-size: 76px;
    }
    &_fz40 {
        font-weight: 600;
        font-size: 40px;
    }
    &_fz30 {
        font-weight: 300;
        font-size: 30px;
    }
    &_fz24 {
        font-weight: 300;
        font-size: 24px;
    }
}

