.footer {
    padding-bottom: 50px;

    background: var(--f-color);
    p {
        margin-bottom: 0;
    }
    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    &__info {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        font-weight: 300;
        font-size: 18px;
        line-height: 1;

        color: var(--s-color);
        p {
            &:last-child {
                margin-top: 10px;
            }
        }
        a {
            margin-top: 10px;

            text-decoration: none;

            color: var(--s-color);
        }
    }
}