.modal {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    display: none;

    justify-content: center;
    align-items: center;
    p {
        margin-bottom: 0;
    }
    &__dialog {
        position: relative;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        width: 400px;
        height: 400px;

        background: var(--s-color);
    }
    &__close {
        position: absolute;
        top: 0;
        right: 10px;

        font-size: 50px;
        line-height: 1;

        cursor: pointer;
    }
    &__success {
        display: none;

        font-weight: 400;
        font-size: 24px;
        line-height: 1;
    }
    &__error {
        display: none;

        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        text-align: center;
    }
}