.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    p {
        margin-bottom: 0;
    }
    &__dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;

        background: var(--s-color);
    }
    &__content {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        padding: 40px;
    }
    &__close {
        position: absolute;
        top: 0;
        right: 10px;

        font-size: 50px;
        line-height: 1;

        cursor: pointer;
    }
    &__success {
        display: none;

        font-weight: 400;
        font-size: 24px;
        line-height: 1;
    }
    &__error {
        display: none;

        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        text-align: center;
    }
}