.promo {
    padding: 166px 0 70px 0;

    background: var(--f-color);
    &__title {
        width: 500px;
    }
    p {
        margin-bottom: 0;
        margin-top: 40px;
        &:nth-child(2) {
            margin-top: 60px;
        }
    }
    &__link {
        color: #747171; 
        text-decoration: none;
        &:hover {
            color: #747171;
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 40px;
    }
}